.Code {
  position: relative;
  padding: 20px;
  border: 1px solid var(--accent);
  color: var(--text);
  background: var(--light-bg);
  overflow: auto;
  border-radius: 16px;
}

.copyBtn {
  position: absolute;
  top: 24px;
  right: 24px;
}

code {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.copyIcon path {
  stroke: var(--primary-color);
}
