.ImageUploader {
  display: flex;
  width: 100%;
  border: 2px solid var(--bg);
  text-align: center;
  background-color: var(--light-bg);
  transition: border-color 0.2s ease, background-color 0.2s ease;
  min-height: 120px;
  justify-content: center;
  cursor: pointer;

  p {
    align-self: center;
  }

  &:hover {
    border-color: var(--accent);
    background-color: var(--dark-bg);
  }

  &.round {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.placeholder {
  font-size: 1rem;
  color: var(--text);
}

.input {
  display: none;
}
