# ===============================
# Rename this file to .env
# Add all nessesary variables
# ===============================

# ===============================
# PostgreSQL Database Configuration
# ===============================

# Host where PostgreSQL is running
DATABASE_HOST=

# Port on which PostgreSQL is listening
DATABASE_PORT=

# PostgreSQL username
DATABASE_USERNAME=

# PostgreSQL password
DATABASE_PASSWORD=

# PostgreSQL database name
DATABASE_NAME=

# ===============================
# JWT (JSON Web Token) Configuration
# ===============================

# Secret key for signing JWT tokens
JWT_SECRET=jwtsecretkey

JWT_EXPIRATION_TIME=3600000s

# ===============================
# Application Configuration
# ===============================

# Port on which the NestJS application will run
SOCIAL_MEDIA_FRONTEND_PORT=3000

# Node environment (development, production, test)
NODE_ENV=development

# ===============================
# AWS (Amazon Web Services) Configuration
# ===============================

# AWS Secret Key
AWS_ACCESS_KEY_ID=

# AWS Accent Key 
AWS_SECRET_ACCESS_KEY=

# AWS Secret Key
AWS_S3_BUCKET_NAME=

# AWS Region
AWS_S3_REGION=