.MainLayout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 32px 8px 32px 32px;
  max-width: 284px;
  flex: 0 0 auto;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 32px 8px;
  flex: 1 1 auto;
  max-width: 1200px;
}

.rightbar {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: flex-end;
  flex: 0 0 40px;
}

.toolbar {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px), (max-width: var(--width-m)) {
  .MainLayout {
    flex-direction: column-reverse;
  }

  .toolbar {
    display: none;
  }

  .header {
    position: absolute;
    display: flex;
    justify-content: end;
  }

  .rightbar {
    width: 100%;
    height: auto;
    padding: 8px 24px;
    order: 1;
    flex: none;
    align-items: end;
  }

  .sidebar {
    position: sticky;
    bottom: 0;
    z-index: var(--sidebar-z-index);
    display: flex;
    width: 100%;
    height: 64px;
    padding: 0;
    max-width: none;
    justify-content: center;
  }
}

@media (max-width: 576px), (max-width: var(--width-s)) {
  .MainLayout {
    padding: 0;
  }

  .content {
    padding: 0;
    padding-top: 24px;
  }

  .sidebar {
    position: sticky;
    bottom: 0;
    z-index: var(--sidebar-z-index);
    display: flex;
    width: 100%;
    height: 64px;
    padding: 0;
    max-width: none;
    justify-content: center;
  }

  .rightbar {
  }
}
