.ChatPage {
  display: flex;
  height: 100%;
  gap: 16px;
}

.ChatSidebar {
  display: flex;
  flex: 2;
  overflow-y: auto;
  max-width: 300px;
}

@media (max-width: 1200px) {
  .ChatPage {

  }

  .ChatSidebar {
    max-width: 1200px;
  }
}
